<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keith.project.dao.PaymentMapper">

    <select id="getPaymentById" resultType="com.keith.project.entity.Payment">
        select id,serial from payment where id=#{id}
    </select>

    <insert id="insertPayment">
        insert into payment (id,serial)
        values
        (#{id},#{serial})
    </insert>
</mapper>